{% extends 'base.html' %}
{% load static from staticfiles %}
{% load url from future %}
{% block css %}
    <!-- Important. For Theming change primary-color variable in main.css  -->
    <!--[if lte IE 7]>
    <script src="{% static 'theme/css/icomoon-font/lte-ie7.js' %}">
    </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'endes/css/chosen.min.css' %}" />
    <style type="text/css">
        .borde_fila{
            border-top: 1px solid #CFCFCF;
            border-left: 1px solid #CFCFCF;
            border-right: 1px solid #CFCFCF;
        }

        .borde_cabecera{
            border: 1px solid #CFCFCF;
            padding: 10px 10px 10px 10px;
        }

        #fila-ultima.borde_fila{
            border-bottom: 1px solid #CFCFCF;
            border-left: 1px solid #CFCFCF;
            border-right: 1px solid #CFCFCF;
            border-top: 1px solid #CFCFCF;
        }

        .celda{
            border-right: 1px solid #CFCFCF;
            padding: 10px 10px 10px 10px;
        }

        #celda-ultima.celda{
            border-right: 1px solid #CFCFCF;
            padding: 10px 10px 10px 10px;
            height: 240px;
        }

        .pregunta{
            font-weight: bold;
        }
        #id_fecha_day{
            width: 50px;;
        }
        #id_fecha_month{
            width: 90px;;
        }
        #id_fecha_year{
            width: 70px;;
        }
    </style>
{% endblock %}
{% block contenido %}
    <div style="position: absolute; right: 20px; top:90px;">
        <a href="{% url 'logout' %}"><h4>Cerrar sesion</h4></a>
    </div>
    <!-- bootstrap css -->
    <div class="container-fluid">
        <div class="dashboard-wrapper">
            <div class="left-sidebar">
                <div class="row-fluid">
                    <div class="span8 offset2">
                        <div class="widget">
                            <div class="widget-header">
                                <div class="title">
                                    Cuestionario
                      <span class="mini-title">
                        Complete la siguiente información
                      </span>
                                </div>
                    <span class="tools">
                      <a data-original-title="Ingrese sus datos" class="fs1" aria-hidden="true" data-icon="" data-placement="bottom"></a>
                    </span>
                            </div>
                            <div class="widget-body">

                                <form class="form-horizontal no-margin" id="id_form" name="form">
                                    {% csrf_token %}
                                    <div class="tab-content" id="myTabContent">
                                        <div id="step1" class="tab-pane fade active in">
                                            <div class="row-fluid">
                                                <div style="float: left">
                                                    <div class="control-group">
                                                        <label class="control-label" id="lid_tomo" for="id_tomo">N° Tomo:</label>
                                                        <div class="controls">
                                                            {{ form.tomo }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="float: right">
                                                    <div class="control-group">
                                                        <label class="control-label" id="lid_ficha" for="id_ficha">Ficha N°:</label>
                                                        <div class="controls">
                                                            {{ form.ficha }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td><label id="lid_consulado_list" for="id_consulado_list">Nombre del Consulado:</label></td><td >{{ form.consulado_list }}</td>
                                                        <td colspan="2" style="width: 15%"><label id="lid_fecha" for="id_fecha_day">Fecha de la Encuesta:</label></td><td style="width: 15%" colspan="2">{{ form.fecha }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="9">
                                                            <h5 style="text-align: center">Estimado compatriota:</h5>
                                                            <p>
                                                                Reciba usted un fraternal saludo del Ministerio de Relaciones Exteriores del Perú. Necesitamos de su colaboración
                                                                llenando este breve cuestionario. Esta información nos permitirá mejorar la atención que le brindamos en nuestros Consulados.
                                                            </p>
                                                            <h6 style="text-align: center">Por favor seleccione la respuesta correspondiente a cada una de las preguntas:</h6>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><label id="lid_continente" for="id_continente">Continente de Residencia:</label></td>
                                                        <td> <input type="text" readonly name="continente" id="id_continente"></td>
                                                        <td colspan="2" ><label id="lid_pais_list" for="id_pais_list">País de Residencia:</label></td><td colspan="2" >{{ form.pais_list }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label id="lid_ciudadResidencia" for="id_ciudadResidencia">Ciudad de Residencia:</label></td><td>{{ form.ciudadResidencia }}</td>
                                                        <td><label id="lid_edad" for="id_edad">Edad:</label></td><td>{{ form.edad }}</td><td><label id="lid_sexo" for="id_sexo">Sexo:</label></td><td>{{ form.sexo }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </div></div>

                                            <br>
                                            <div class="row-fluid borde_fila">
                                                <div class="span6 celda">
                                                    <span class="pregunta" id="lid_nu_respuesta1">1.- ¿CUÁL ES EL MOTIVO POR EL QUE USTED ACUDIÓ, EL DÍA DE HOY AL CONSULADO?</span>
                                                    <h6>(Cicule una o más alternativas)</h6>
                                                    <ul id="id_nu_respuesta1">
                                                        <li><label for="id_nu_respuesta1_1">1.- Información/asesoría&nbsp;&nbsp;&nbsp;{{ form.nu_respuesta1_1 }}</label></li>
                                                        <li><label for="id_nu_respuesta1_2">2.- DNI, registro de nacimiento o similar&nbsp;&nbsp;&nbsp;{{ form.nu_respuesta1_2 }}</label></li>
                                                        <li><label for="id_nu_respuesta1_3">3.- Pasaporte/salvoconducto&nbsp;&nbsp;&nbsp;{{ form.nu_respuesta1_3 }}</label></li>
                                                        <li><label for="id_nu_respuesta1_4">4.- Escritura pública, legizlaciones o similar&nbsp;&nbsp;&nbsp;{{ form.nu_respuesta1_4 }}</label></li>
                                                        <li><label for="id_nu_respuesta1_5">5.- Asistencia y apoyo humanitario&nbsp;&nbsp;&nbsp;{{ form.nu_respuesta1_5 }}</label></li>
                                                        <li><label for="id_nu_respuesta1_6">6.- Otro &nbsp;&nbsp;&nbsp;{{ form.nu_respuesta1_6 }}</label></li>
                                                        </ul>
                                                    <div style="text-align: center;">
                                                        {{ form.no_respuesta1_6 }}<br>
                                                        <span>(Especifique)</span>
                                                    </div>
                                                </div>
                                                <div class="span6 celda">
                                                    <span class="pregunta" id="lid_nu_respuesta4">4.- ¿COMO CONSIDERA LAS CONDICIONES DEL LOCAL CONSULAR (INFRAESTRUCTURA, EQUIPAMIENTO Y MOBILIARIO)?</span>
                                                    {{ form.nu_respuesta4 }}
                                                    <ul id="id_nu_respuesta4">
                                                        <li><label for="id_nu_respuesta4">1.- Muy Bueno</label></li>
                                                        <li><label for="id_nu_respuesta4">2.- Bueno</label></li>
                                                        <li><label for="id_nu_respuesta4">3.- Regular</label></li>
                                                        <li><label for="id_nu_respuesta4">4.- Malo</label></li>
                                                        <li><label for="id_nu_respuesta4">5.- Muy Malo</label></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row-fluid borde_fila">
                                                <div class="span6 celda">
                                                    <span class="pregunta" id="lid_nu_respuesta2">2.- ¿CÓMO FUE EL TRATO DEL PERSONAL QUE LO ATENDIÓ?</span>
                                                    {{ form.nu_respuesta2 }}
                                                    <ul id="id_nu_respuesta2">
                                                        <li><label for="id_nu_respuesta2">1.- Muy Bueno</label></li>
                                                        <li><label for="id_nu_respuesta2">2.- Bueno</label></li>
                                                        <li><label for="id_nu_respuesta2">3.- Regular</label></li>
                                                        <li><label for="id_nu_respuesta2">4.- Malo</label></li>
                                                        <li><label for="id_nu_respuesta2">5.- Muy Malo</label></li>
                                                    </ul>
                                                </div>
                                                <div class="span6 celda">
                                                    <span class="pregunta" id="lid_nu_respuesta5">5.- ¿SE SIENTE SATISFECHO CON EL SERVICIO QUE BRINDA LA OFICINA CONSULAR?</span>
                                                    {{ form.nu_respuesta5 }}
                                                    <ul id="id_nu_respuesta5">
                                                        <li><label for="id_nu_respuesta5">1.- Muy satisfecho</label></li>
                                                        <li><label for="id_nu_respuesta5">2.- Satisfecho</label></li>
                                                        <li><label for="id_nu_respuesta5">3.- Ni satisfecho ni insatisfecho</label></li>
                                                        <li><label for="id_nu_respuesta5">4.- Insatisfecho</label></li>
                                                        <li><label for="id_nu_respuesta5">5.- Muy insatisfecho</label></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div id="fila-ultima" class="row-fluid borde_fila">
                                                <div id="celda-ultima" class="span6 celda">
                                                    <span class="pregunta" id="lid_nu_respuesta3">3.- ¿CÓMO CONSIDERA EL TIEMPO DE ESPERA PARA SER ATENDIDO?</span>
                                                    {{ form.nu_respuesta3 }}
                                                    <ul id="id_nu_respuesta3">
                                                        <li><label for="id_nu_respuesta3">1.- Muy rápido</label></li>
                                                        <li><label for="id_nu_respuesta3">2.- Rápido</label></li>
                                                        <li><label for="id_nu_respuesta3">3.- Moderado</label></li>
                                                        <li><label for="id_nu_respuesta3">4.- Demora un poco</label></li>
                                                        <li><label for="id_nu_respuesta3">5.- Demora en exceso</label></li>
                                                    </ul>
                                                </div>
                                                <div class="span6 celda">
                                                    <span class="pregunta" id="lid_nu_respuesta6">6.- ¿CÓMO CREE USTED QUE SE PUEDE MEJORAR EL SERVICIO CONSULAR?</span>
                                                    {{ form.nu_respuesta6 }}
                                                    <ul id="id_nu_respuesta6">
                                                        <li><label for="id_nu_respuesta6">1.- Contratando más personal</label></li>
                                                        <li><label for="id_nu_respuesta6">2.- Mejorando la comunicación (teléfono/internet)</label></li>
                                                        <li><label for="id_nu_respuesta6">3.- Mejorando la infraestructura y mobiliario</label></li>
                                                        <li><label for="id_nu_respuesta6">4.- Capacitando al personal</label></li>
                                                        <li><label for="id_nu_respuesta6">5.- Mayores horarios de atención</label></li>
                                                        <li><label for="id_nu_respuesta6">6.- Otro</label></li>
                                                    </ul>
                                                    <div style="text-align: center;">
                                                        {{ form.no_respuesta6 }}<br>
                                                        <span>(Especifique)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>

                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td><label id="lid_encuestado" for="id_encuestado">Encuestado:</label></td><td colspan="2">{{ form.encuestado }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label id="lid_dni" for="id_dni">DNI:</label></td><td>{{ form.dni }}</td><td>(*) Información confidencial, sólo para fines estadísticos</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <h5 style="text-align: center">Gracias por su valiosa colaboración.</h5>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td ><label id="lid_observacion" for="id_observacion">Observación:</label></td><td colspan="2">{{ form.observacion }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="next-prev-btn-container pull-right" style="margin-right: 10px;">
                                            <a data-original-title="" href="javascript: save_cuestionario();" id="grabar"
                                               class="button next" >Grabar</a>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--/.fluid-container-->
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'endes/js/chosen.jquery.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">

    var blank = new RegExp('\\s{2}', 'g'),
        letter = new RegExp('^[A-Za-zñÑá-úÁ-Ú ]+$'),
        rletter = new RegExp('[^A-Za-zñÑá-úÁ-Ú ]','g'),
        number = new RegExp('[0-9][0-9]$'),
        rnumber = new RegExp('[^0-9]','g');

    $(document).on('ready', function(e){
        $("#id_consulado_list").chosen({
            no_results_text: "No se encontro el proyecto!",
            allow_single_deselect: true
        }).change(function(e){
            $('#id_fecha_day').focus();
        });
        $("#id_pais_list").chosen({
            no_results_text: "No se encontro el proyecto!",
            allow_single_deselect: true
        }).change(function(e){
            $('#id_ciudadResidencia').focus();
        });
        $('#id_ficha').focus();
        nextControlEnter();
    });

    $('select').on('change', function(e){
        var valor = $(this).val();
        if(valor !== '' ){
            $('#l'+this.id).removeClass('alert-error');
        }else{
            $('#l'+this.id).addClass('alert-error');
        }
    });

    $("#id_pais_list").on('change', function(){
        var value = $(this).val();
        value = value.split('-');
        $('#id_continente').val(value[2]);
    });

    $('#id_nu_respuesta1_5').on('change', function(){
        var txtOtro = $('#id_no_respuesta1_6');
        var checked = $(this).is(':checked');
           if(checked){
               txtOtro.prop('readonly', false);
           }else{
               txtOtro.val('');
               txtOtro.prop('readonly', true);
           }
    });

    $('input[name="nu_respuesta1_6"]').on('change', function(e){
        var txtOtro = $('#id_no_respuesta1_6');
        if($(this).val()==='1'){
            txtOtro.prop('readonly', false);
        }else{
            txtOtro.val('');
            txtOtro.prop('readonly', true);
        }
    });

    $('input[name="nu_respuesta6"]').on('change', function(e){
        var txtOtro = $('#id_no_respuesta6');
        $('#lid_nu_respuesta6').removeClass('alert-error');
        if($(this).val()==='6'){
            txtOtro.prop('readonly', false);
        }else{
            txtOtro.val('');
            txtOtro.prop('readonly', true);
        }
    });

    $('input[name="tomo"]').on('change', function(e){
        $('#lid_tomo').removeClass('alert-error');
    });

    $('input[name="ficha"]').on('change', function(e){
        $('#lid_ficha').removeClass('alert-error');
    });

    $('input[name="nu_respuesta2"]').on('change', function(e){
        $('#lid_nu_respuesta2').removeClass('alert-error');
    });

    $('input[name="nu_respuesta3"]').on('change', function(e){
        $('#lid_nu_respuesta3').removeClass('alert-error');
    });

    $('input[name="nu_respuesta4"]').on('change', function(e){
        $('#lid_nu_respuesta4').removeClass('alert-error');
    });

    $('input[name="nu_respuesta5"]').on('change', function(e){
        $('#lid_nu_respuesta5').removeClass('alert-error');
    });

    $('.texto').on('input blur', function(e){
        var valor = $(this).val().toUpperCase();
        if(valor !== '' ){
            if(!blank.test(valor) && letter.test(valor)){
                $(this).val(valor);
                $('#l'+this.id).removeClass('alert-error');
                $(this).tooltip('hide');
            }else{
                valor = $.trim(valor.replace(blank, ' ').replace(rletter, ''));
                $(this).val(valor);
            }
        }else{
            $('#l'+this.id).addClass('alert-error');
        }
    });

    $('.numero').on('input blur', function(e){
        var valor = $(this).val();
        if(valor !== '' ){
            if(!blank.test(valor) && number.test(valor)){
                $(this).val(valor);
                $('#l'+this.id).removeClass('alert-error');
                $(this).tooltip('hide');
            }else{
                valor = $.trim(valor.replace(blank, '').replace(rnumber, ''));
                $(this).val(valor);
            }
        }else{
            $('#l'+this.id).addClass('alert-error');
        }
    });

    function save_cuestionario(){
        var data = $('#id_form').serialize();
        var options = {
            type: 'POST',
            url: "{% url 'cuestionario1' %}",
            dataType: 'json',
            async: true,
            data: data,
            beforeSend: function() {

            }
        };
        var posting = $.ajax(options);

        posting.done(function(data, textStatus, jqXHR) {
            if(data['success']){
                location.href = '';
            }else{
                //activate_tooltips();
                $('.alert-error').removeClass('alert-error');
                var msg='Corrija los errores marcados en rojo porfavor!';
                $.each(data['data'],function(k,v){
                    if($.inArray(k, ['nu_respuesta1_1','nu_respuesta1_2','nu_respuesta1_3','nu_respuesta1_4','nu_respuesta1_5','nu_respuesta1_6']) !== -1){
                        $('#id_'+k).parent().addClass('alert-error');
                    }else if (k === 'no_respuesta1_6'){
                        $('#id_nu_respuesta1').addClass('alert-error');
                    }else if (k === 'no_respuesta6'){
                        $('#id_nu_respuesta6').addClass('alert-error');
                    }else if (k === '__all__'){
                        alert(v[0]);
                        $('#lid_tomo').addClass('alert-error');
                        $('#lid_ficha').addClass('alert-error');
                    }else{
                        $('#lid_'+k).addClass('alert-error');
                    }
                });
                alert(msg);
            }
        })
        .fail(function(data, textStatus, jqXHR) {
            alert('Ha ocurrido un error inesperado');
        });
    }

    $('.bit').on('keypress', function(e){
        if($.inArray($(this).val(), ['0', '1']) === -1){
            $(this).parent().addClass('alert-error');
        }else{
            $(this).parent().removeClass('alert-error');
        }
    });

    function nextControlEnter(){
        $('#id_consulado_list_chosen').addClass('chosen-disabled');
        var textoSiguiente = Array();
        textoSiguiente['id_ficha'] = [1, '#id_fecha_day'];
        textoSiguiente['id_fecha_day'] = [1, '#id_fecha_month'];
        textoSiguiente['id_fecha_month'] = [1, '#id_fecha_year'];
        textoSiguiente['id_fecha_year'] = [2, '#id_pais_list'];
        textoSiguiente['id_ciudadResidencia'] = [1, '#id_edad'];
        textoSiguiente['id_edad'] = [1, '#id_sexo'];
        textoSiguiente['id_sexo'] = [1, '#id_nu_respuesta1_1'];
        textoSiguiente['id_nu_respuesta1_1'] = [1, '#id_nu_respuesta1_2'];
        textoSiguiente['id_nu_respuesta1_2'] = [1, '#id_nu_respuesta1_3'];
        textoSiguiente['id_nu_respuesta1_3'] = [1, '#id_nu_respuesta1_4'];
        textoSiguiente['id_nu_respuesta1_4'] = [1, '#id_nu_respuesta1_5'];
        textoSiguiente['id_nu_respuesta1_5'] = [1, '#id_nu_respuesta1_6'];
        textoSiguiente['id_nu_respuesta1_6'] = [1, '#id_no_respuesta1_6'];
        textoSiguiente['id_no_respuesta1_6'] = [1, '#id_nu_respuesta2'];
        textoSiguiente['id_nu_respuesta2'] = [1, '#id_nu_respuesta3'];
        textoSiguiente['id_nu_respuesta3'] = [1, '#id_nu_respuesta4'];
        textoSiguiente['id_nu_respuesta4'] = [1, '#id_nu_respuesta5'];
        textoSiguiente['id_nu_respuesta5'] = [1, '#id_nu_respuesta6'];
        textoSiguiente['id_nu_respuesta6'] = [1, '#id_no_respuesta6'];
        textoSiguiente['id_no_respuesta6'] = [1, '#id_encuestado'];
        textoSiguiente['id_encuestado'] = [1, '#id_dni'];
        textoSiguiente['id_dni'] = [1, '#id_observacion'];
        textoSiguiente['id_observacion'] = [1, '#id_dni'];
        textoSiguiente['id_observacion'] = [1, '#grabar'];
        var cajas = $('input[type="text"], select, textarea');
        var campoSiguiente = null;
        $.each(cajas, function(i, c){
            if(textoSiguiente[c.id] !== undefined){
            $(c).on('keypress', function(e){
                if(e.which === 13){
                    campoSiguiente = $(textoSiguiente[c.id][1]);
                    if(textoSiguiente[c.id][0]===2){
                        campoSiguiente.trigger('chosen:activate');
                    }else if(textoSiguiente[c.id][0]===3){
                    }else{
                        campoSiguiente.focus();
                    }
                }
            });
            }
        });
    }

    </script>
{% endblock %}
