{% extends 'base.html' %}
{% load static from staticfiles %}
{% load querytags %}
{% load url from future %}
{% block css %}
    <style>
        #tbl_data thead tr th {
            text-align: center;
        }

        #tbl_data tbody tr td {
            text-align: center;
        }

    </style>
{% endblock %}
{% block contenido %}
    <div style="position: absolute; right: 20px; top:90px;">
        <a href="{% url 'logout' %}"><h4>Cerrar sesion</h4></a>
    </div>
    <!-- bootstrap css -->
    <div class="container-fluid">
        <div class="dashboard-wrapper">
            <div class="left-sidebar">
                <div class="row-fluid">
                    <div class="span8 offset2">
                        <div class="widget">
                            <div class="widget-header">
                                <div class="title">Reporte total de digitación por Consulado</div>
                            </div>
                            <div class="widget-body">
                                <form class="form-horizontal no-margin" id="id_form" name="form">
                                    <div class="tab-content" id="myTabContent">
                                        <div id="step1" class="tab-pane fade active in">
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div class="widget">
                                                        <div class="widget-header">
                                                            <div class="title">Resultado de la busqueda</div>
                                                        </div>
                                                        <div class="widget-body">
                                                            <table class="table table-bordered table-condensed table-hover"
                                                                   id="tbl_data">
                                                                <thead>
                                                                <tr>
                                                                    <th>Consulado</th>
                                                                    <th>N° Tomo</th>
                                                                    <th>N° Meta</th>
                                                                    <th>N° Encuestas</th>
                                                                    <th>N° Recepcionado</th>
                                                                    <th>N° Duplicados</th>
                                                                    <th>Total Digitado</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for item in object_list %}
                                                                    <tr>
                                                                        <td>{{ item.consulado }}</td>
                                                                        <td>{{ item.tomo }}</td>
                                                                        <td>{{ item.meta }}</td>
                                                                        <td>{{ item.encuestas }}</td>
                                                                        <td>{{ item.recepcionado }}</td>
                                                                        <td>{{ item.repetidos }}</td>
                                                                        <td>{{ item.fichas }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                            <div class="pagination pagination-right">
                                                                <div style="float: left">
                                                                    Mostrando {{ page_obj|length }} registros de {{ paginator.count }}
                                                                </div>
                                                              <ul>
                                                                <li><a href="{% querystring "page"=1 %}" title="Primero">&lt;&lt;</a></li>
                                                                {% if page_obj.has_previous %}
                                                                <li><a href="{% querystring "page"=page_obj.previous_page_number %}" title="Anterior">&lt;</a></li>
                                                                {% endif %}
                                                                <li class="active"><a href="#">{{ page_obj.number }}</a></li>
                                                                {% if page_obj.has_next %}
                                                                <li><a href="{% querystring "page"=page_obj.next_page_number %}" title="Siguiente">&gt;</a></li>
                                                                {% endif %}
                                                                <li><a href="{% querystring "page"=paginator.num_pages %}" title="Ultimo">&gt;&gt;</a></li>
                                                              </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'theme/js/date-picker/date.js' %}"></script>
    <script type="text/javascript" src="{% static 'theme/js/date-picker/daterangepicker.js' %}"></script>

    <script type="text/javascript">
      $('.date_picker').daterangepicker({
        opens: 'right',
        format: 'yyyy-MM-dd',
        separator: ' | ',
        locale: {
            applyLabel: 'Aplicar',
            clearLabel:"Limpiar",
            fromLabel: 'Desde',
            toLabel: 'Hasta',
            weekLabel: 'W',
            customRangeLabel: 'Periodo',
            daysOfWeek: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"],
            monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            firstDay: 0
        }
      });
    </script>
{% endblock %}